<div class="row">
    {{#each guests}}
        <div class="col s12 m4 l3 xl3">
            <div class="card customer_card" >
                <div class="card-image">
                    <img class="cuspropic" src="{{pic}}">
                </div>
                <div class="card-content">
                    <span style="white-space: hide" class="card-title">{{first_name}} {{last_name}}</span>
                    <p >{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</p>
                    {{#if star_width}}
                        <div class="stars_average" style="width: {{ star_width }};">
                            <img src="/assets/stars.png" alt="stars" style="height: 100%;">
                        </div>
                    {{else}}
                        <p>No ratings yet.</p>
                    {{/if}}
                </div>
                <div class="card-action">
                    <a href="/customer-profile/{{ id }}" data-CustomerId="{{ id }}" class="CustomerId">View Profile</a>
                    {{#if business}}
                        <a href="#modal4" data-id="{{ id }}" class="modal-trigger customer-review">Review</a>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>