<div class="card sign_up_sheet" style="margin: 50px">
  <form class="row sign-up-form">
    <div class="row">
      {{#if business}}
      <style>
        .sign-up-form input::placeholder {
          color: black;
        }
      </style>
      {{/if}}
      <div class="input-field col s6">
        <input placeholder="Name" id="company_name" type="text" class="company_name"
          value="{{#if business}}{{business.name}}{{/if}}">
      </div>
      <div class="col s6">
        <select name="category" id="category_name">
          {{#unless business}}
          <option value="" disabled selected>Category</option>
          {{/unless}}
          <option value="Restaurant" {{#if business.Restaurant}}selected{{/if}}>Restaurant</option>
          <option value="Hotel" {{#if business.Hotel}}selected{{/if}}>Hotel</option>
          <option value="Cafe" {{#if business.Cafe}}selected{{/if}}>Cafe</option>
          <option value="Bar" {{#if business.Bar}}selected{{/if}}>Bar</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Address" id="textarea2" class="materialize-textarea address" data-length="120" value="{{#if business.address}}{{business.address}}{{/if}}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Address (cont)" id="textarea3" class="materialize-textarea addresstwo"
          data-length="120" value="{{#if business.address}}{{business.addresstwo}}{{/if}}">
      </div>
      <div class="input-field col s6">
        <input placeholder="City" id="textarea6" class="materialize-textarea city" data-length="120" value="{{#if business}}{{business.city}}{{/if}}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="select">
          {{#unless business}}
          <option class="st" value="State" disabled selected>State</option>
          {{/unless}}
          <option class="st" value="Alabama" {{#if business.Alabama}}selected{{/if}}>Alabama</option>
          <option class="st" value="Alaska" {{#if business.Alaska}}selected{{/if}}>Alaska</option>
          <option class="st" value="Arizona" {{#if business.Arizona}}selected{{/if}}>Arizona</option>
          <option class="st" value="Arkansas" {{#if business.Arkansas}}selected{{/if}}>Arkansas</option>
          <option class="st" value="California" {{#if business.California}}selected{{/if}}>California</option>
          <option class="st" value="Colorado" {{#if business.Colorado}}selected{{/if}}>Colorado</option>
          <option class="st" value="Connecticut" {{#if business.Connecticut}}selected{{/if}}>Connecticut</option>
          <option class="st" value="Delware" {{#if business.Delaware}}selected{{/if}}>Delaware</option>
          <option class="st" value="District of Columbia" {{#if business.DistrictofColumbia}}selected{{/if}}>District Of
            Columbia</option>
          <option class="st" value="Florida" {{#if business.Florida}}selected{{/if}}>Florida</option>
          <option class="st" value="Georgia" {{#if business.Georgia}}selected{{/if}}>Georgia</option>
          <option class="st" value="Hawaii" {{#if business.Hawaii}}selected{{/if}}>Hawaii</option>
          <option class="st" value="Idaho" {{#if business.Idaho}}selected{{/if}}>Idaho</option>
          <option class="st" value="Illinois" {{#if business.Illinois}}selected{{/if}}>Illinois</option>
          <option class="st" value="Indiana" {{#if business.Indiana}}selected{{/if}}>Indiana</option>
          <option class="st" value="Iowa" {{#if business.Iowa}}selected{{/if}}>Iowa</option>
          <option class="st" value="Kansas" {{#if business.Kansas}}selected{{/if}}>Kansas</option>
          <option class="st" value="Kentucky" {{#if business.Kentucky}}selected{{/if}}>Kentucky</option>
          <option class="st" value="Louisiana" {{#if business.Louisiana}}selected{{/if}}>Louisiana</option>
          <option class="st" value="Maine" {{#if business.Maine}}selected{{/if}}>Maine</option>
          <option class="st" value="Maryland" {{#if business.Maryland}}selected{{/if}}>Maryland</option>
          <option class="st" value="Massachusetts" {{#if business.Massachusetts}}selected{{/if}}>Massachusetts</option>
          <option class="st" value="Michigan" {{#if business.Michigan}}selected{{/if}}>Michigan</option>
          <option class="st" value="Minnesota" {{#if business.Minnesota}}selected{{/if}}>Minnesota</option>
          <option class="st" value="Mississippi" {{#if business.Mississippi}}selected{{/if}}>Mississippi</option>
          <option class="st" value="Missouri" {{#if business.Missouri}}selected{{/if}}>Missouri</option>
          <option class="st" value="Montana" {{#if business.Montana}}selected{{/if}}>Montana</option>
          <option class="st" value="Nebraska" {{#if business.Nebraska}}selected{{/if}}>Nebraska</option>
          <option class="st" value="Nevada" {{#if business.Nevada}}selected{{/if}}>Nevada</option>
          <option class="st" value="New Hampshire" {{#if business.NewHampshire}}selected{{/if}}>New Hampshire</option>
          <option class="st" value="New Jersey" {{#if business.NewJersey}}selected{{/if}}>New Jersey</option>
          <option class="st" value="New Mexico" {{#if business.NewMexico}}selected{{/if}}>New Mexico</option>
          <option class="st" value="New York" {{#if business.NewYork}}selected{{/if}}>New York</option>
          <option class="st" value="North Carolina" {{#if business.NorthCarolina}}selected{{/if}}>North Carolina
          </option>
          <option class="st" value="North Dakota" {{#if business.NorthDakota}}selected{{/if}}>North Dakota</option>
          <option class="st" value="Ohio" {{#if business.Ohio}}selected{{/if}}>Ohio</option>
          <option class="st" value="Oklahoma" {{#if business.Oklahoma}}selected{{/if}}>Oklahoma</option>
          <option class="st" value="Oregon" {{#if business.Oregon}}selected{{/if}}>Oregon</option>
          <option class="st" value="Pennsylvania" {{#if business.Pennsylvania}}selected{{/if}}>Pennsylvania</option>
          <option class="st" value="Rhode Island" {{#if business.RhodeIsland}}selected{{/if}}>Rhode Island</option>
          <option class="st" value="South Carolina" {{#if business.SouthCarolina}}selected{{/if}}>South Carolina
          </option>
          <option class="st" value="South Dakota" {{#if business.SouthDakota}}selected{{/if}}>South Dakota</option>
          <option class="st" value="Tennessee" {{#if business.Tennessee}}selected{{/if}}>Tennessee</option>
          <option class="st" value="Texas" {{#if business.Texas}}selected{{/if}}>Texas</option>
          <option class="st" value="Utah" {{#if business.Utah}}selected{{/if}}>Utah</option>
          <option class="st" value="Vermont" {{#if business.Vermont}}selected{{/if}}>Vermont</option>
          <option class="st" value="Virginia" {{#if business.Virginia}}selected{{/if}}>Virginia</option>
          <option class="st" value="Washington" {{#if business.Washington}}selected{{/if}}>Washington</option>
          <option class="st" value="West Virginia" {{#if business.WestVirginia}}selected{{/if}}>West Virginia</option>
          <option class="st" value="Wisconsin" {{#if business.Wisconsin}}selected{{/if}}>Wisconsin</option>
          <option class="st" value="Wyoming" {{#if business.Wyoming}}selected{{/if}}>Wyoming</option>
        </select>
      </div>

      <div class="input-field col s4" style="margin: 2px 0px 2px 0px">
        <input placeholder="Zip" id="textarea5" class="materialize-textarea zip" data-length="120"
          style="padding: 0px; height: 44px" value="{{#if business}}{{business.zip5}}{{/if}}">
      </div>
    <div class="input-field col s4" style="margin: 2px 0px 2px 0px">
      <input placeholder="Zip" id="textarea5" class="materialize-textarea zip" data-length="120"
        style="padding: 0px; height: 44px" value="{{#if businessData}}{{businessData.zip5}}{{/if}}">
    </div>
    </div>
    <div class="row">
      <div class="input-field col s6" style="margin: 2px 0px 2px 0px">
        <input placeholder="Phone" id="icon_telephone" type="tel" class="validate phone"
          style="padding: 0px; height: 25px" value="{{#if business}}{{business.phone}}{{/if}}">
      </div>
      <div class="input-field col s6" style="margin: 2px 0px 2px 0px;">
        <input placeholder="Website" class="validate website" style="padding: 0px; height: 25px"
          value="{{#if business}}{{business.website}}{{/if}}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12" style="margin: 2px;">
        <input placeholder="Email" type="email" class="validate company_email" style="padding: 0px; height: 25px"
          value="{{#if business}}{{business.email}}{{/if}}">
      </div>
    </div>
</div>
<div class="row">
  <div class="input-field col s6" style="margin: 2px 0px 2px 0px">
    <input placeholder="Phone" id="icon_telephone" type="tel" class="validate phone" style="padding: 0px; height: 25px"
      value="{{#if businessData}}{{businessData.phone}}{{/if}}">
  </div>
  <div class="input-field col s6" style="margin: 2px 0px 2px 0px;">
    <input placeholder="Website" class="validate websight" style="padding: 0px; height: 25px"
      value="{{#if businessData}}{{businessData.website}}{{/if}}">
  </div>
</div>
<div class="row">
  <div class="input-field col s12" style="margin: 2px;">
    <input placeholder="Email" type="email" class="validate company_email" style="padding: 0px; height: 25px"
      value="{{#if businessData}}{{businessData.email}}{{/if}}">
  </div>
</div>
<div class="row">
  <div class="input-field col s12" style="margin: 2px;">
    <input placeholder="Password" type="password" class="password-company" style="padding: 0px; height: 25px">
  </div>
</div>
<div class="row">
  <div class="input-field col s12" style="margin: 2px;">
    <input placeholder="Confirm Password" type="password" class="verify-password" style="padding: 0px; height: 25px">
  </div>
</div>
<div class="row">
  <div class="col m8">
    <div class="file-field input-field">
      <div class="btn btn-small" id="cloudinary-bttn">
        <span>File</span>
        <input type="hidden">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate company_image" type="text">
      </div>
    </div>
    <button
      class="btn col m4 waves-effect waves-light btn-small {{#if business}}update-button{{else}}sign-up-button{{/if}}"
      name="action" {{#if business.id}}data-id="{{business.id}}" {{/if}}>
      Submit
      <i class="material-icons right">send</i>
    </button>
    <p class="invalid"></p>
  </div>
  <button
    class="btn col m4 waves-effect waves-light btn-small {{#if businessData}}update-button{{else}}sign-up-button{{/if}}"
    name="action" {{#if businessData.id}}data-id="{{businessData.id}}" {{/if}}>
    Submit
    <i class="material-icons right">send</i>
  </button>
  <p class="invalid"></p>
</div>
</form>
</div>