
<div class="row">
    <div class="col s12 m12" style="padding: 0%;">
        <img src="http://placekitten.com/1200/400" style="max-width: 100%;">
    </div>
</div>
<div class="row" style="display: flex; justify-content:center">
   <a class="waves-effect waves-light btn add_cus modal-trigger" href="#modal3">Add Customer</a>
   <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
</div>
<div class="row">
    {{#each customers}}
        <div class="col s12 m4 l3 xl3">
            <div class="card">
                <div class="card-image">
                    <img src="https://placekitten.com/300/300">
                    <span class="card-title">{{first_name}} {{last_name}}</span>
                </div>
                <div class="card-content">
                    <p>{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</p>
                    <div style="height: 36px; width: {{ star_width }}; overflow-x: hidden">
                        <img src="/assets/stars.png" alt="stars" style="height: 100%;">
                    </div>
                </div>
                <div class="card-action">
                    <a href="/customer-profile/{{ id }}">View Profile</a>
                    <a href="#modal4" class="modal-trigger testerniner">Review</a>
                    
                </div>
            </div>
        </div>
    {{/each}}
</div>
  
</div>
