<div class="row">
    <div class="col m6">
        <p>{{data}}</p>
    </div>
</div>
<div class="row">
    <div class="col s6 m6">
        <img src="http://placekitten.com/500/200" style="max-width: 100%;">
    </div>
    <div class="col s6 m6">
      <div class="card-panel teal">
<form >
                 <div class="row">
            <div class="input-field col s6">
            <input placeholder="First Name" id="first_name" type="text" class="validate fName">
            </div>
            <div class="input-field col s6">
            <input placeholder="Last Name"id="last_name" type="text" class="validate lName">
            </div>
          </div>

            <div class="row"> 
          
              <div class="input-field col s6" style="margin: 2px 0px 2px 0px">
                <input placeholder="City"  class="materialize-textarea customer_city" data-length="120" style="padding: 0px;">
              </div>
            </div>
            <div class="row"> 
              <div class="input-field col s6" style="margin: 2px 0px 2px 0px">
                <select class="customer_select">
                <option class="st" value=""disabled selected></option>State></option>
                <option class="st" value="Alabama">Alabama</option>
                <option class="st" value="Alaska">Alaska</option>
                <option class="st" value="Arizona">Arizona</option>
                <option class="st" value="Arkansas">Arkansas</option>
                <option class="st" value="California">California</option>
                <option class="st" value="Colorado">Colorado</option>
                <option class="st" value="Connecticut">Connecticut</option>
                <option class="st" value="Delware">Delaware</option>
                <option class="st" value="District of Columbia">District Of Columbia</option>
                <option class="st" value="Florida">Florida</option>
                <option class="st" value="Georgia">Georgia</option>
                <option class="st" value="Hawaii">Hawaii</option>
                <option class="st" value="Idaho">Idaho</option>
                <option class="st" value="Illinois">Illinois</option>
                <option class="st" value="Indiana">Indiana</option>
                <option class="st" value="Iowa">Iowa</option>
                <option class="st" value="Kansas">Kansas</option>
                <option class="st" value="Kentucky">Kentucky</option>
                <option class="st" value="Louisiana">Louisiana</option>
                <option class="st" value="Maine">Maine</option>
                <option class="st" value="Maryland">Maryland</option>
                <option class="st" value="Massachusetts">Massachusetts</option>
                <option class="st" value="Michigan">Michigan</option>
                <option class="st" value="Minnesota">Minnesota</option>
                <option class="st" value="Mississippi">Mississippi</option>
                <option class="st" value="Missouri">Missouri</option>
                <option class="st" value="Montana">Montana</option>
                <option class="st" value="Nebraska">Nebraska</option>
                <option class="st" value="Nevada">Nevada</option>
                <option class="st" value="New Hampshire">New Hampshire</option>
                <option class="st" value="New Jersey">New Jersey</option>
                <option class="st" value="New Mexico">New Mexico</option>
                <option class="st" value="New York">New York</option>
                <option class="st" value="North Carolina">North Carolina</option>
                <option class="st" value="North Dakota">North Dakota</option>
                <option class="st" value="Ohio">Ohio</option>
                <option class="st" value="Oklahoma">Oklahoma</option>
                <option class="st" value="Oregon">Oregon</option>
                <option class="st" value="Pennsylvania">Pennsylvania</option>
                <option class="st" value="Rhode Island">Rhode Island</option>
                <option class="st" value="South Carolina">South Carolina</option>
                <option class="st" value="South Dakota">South Dakota</option>
                <option class="st" value="Tennessee">Tennessee</option>
                <option class="st" value="Texas">Texas</option>
                <option class="st" value="Utah">Utah</option>
                <option class="st" value="Vermont">Vermont</option>
                <option class="st" value="Virginia">Virginia</option>
                <option class="st" value="Washington">Washington</option>
                <option class="st" value="West Virginia">West Virginia</option>
                <option class="st" value="Wisconsin">Wisconsin</option>
                <option class="st" value="Wyoming">Wyoming</option>
                </select>
              </div>
                      
              <div class="input-field col s4" style="margin: 2px 0px 2px 0px">
                <input placeholder="Zip"  class="materialize-textarea customer_zip" data-length="120" style="padding: 0px; height: 44px">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin: 2px;">
                <input placeholder="Email" type="email" class="validate customer_email" style="padding: 0px; height: 25px">
              </div>
            </div>
            <div class="row">
            <div class="col m8">
            <div class="file-field input-field">
              <div class="btn btn-small">
              <span>File</span>
              <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate customer_image" type="text">
              </div>
            </div>
            </div>
              <div class="col m3" style="float:right">
                <a class="btn-floating btn-large waves-effect waves-light red add_customer_button"><i class="material-icons">add</i></a>
              </div>
              <p class="invalid"></p>
            </div>
            
        </form>
      </div>
    </div>
</div>

<div class="row">
  {{> guest-loop }}
</div>
<div class="row">


<div class="row">
    {{#each customers}}
        <div class="col s12 m4 l3 xl3">
            <div class="card">
                <div class="card-image">
                    <img src="https://placekitten.com/300/300">
                    <span class="card-title">{{first_name}} {{last_name}}</span>
                </div>
                <div class="card-content">
                    <p>{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</p>
                    <div style="height: 36px; width: {{ star_width }}; overflow-x: hidden">
                        <img src="/assets/stars.png" alt="stars" style="height: 100%;">
                    </div>
                </div>
                <div class="card-action">
                    <a href="/customer-profile/{{ id }}">View Profile</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>
  
</div>
