<div class="container">
    <div class="row">
        <div class="col s6">
            <!-- src="{{ pic }}" -->
            <img style=" margin-top: 5px; margin-left:5px ; max-width: 75%" src="{{ businessData.pic }}">
        </div>
        <div class="col s6">
            <h4>{{ name }}</h4>
            <address>
                <p style="margin: 5px;">{{ businessData.address }}
                <p style="margin: 5px;">{{ businessData.addresstwo }}</p>
                <p style="margin: 5px;">{{ businessData.city }}, {{ businessData.state }} </p>
                <p style="margin: 5px;">Zip: {{ businessData.zip5 }}</p>
                <p style="margin: 5px;">Phone: {{ businessData.phone }}</p>
                <p style="margin: 5px;">Category: {{ businessData.category }}</p>
                <a href="{{ businessData.website }}">{{ businessData.website }}</a><br>
                <a href="mailto:{{ businessData.email }}">{{ businessData.email }}</a>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="reviews_header">
                <h2>Reviews Written</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 box">
            <div class="row">
                {{#each rev}}
                    {{> render-review }}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="input-field row">
        <div class="col s3">
            <a class="waves-effect waves-light btn btn-small customer_search">Search</a>
        </div>
        <div class="col s9">
            <input style="background-color: white; padding-left: 10px;" class="customer_search_input" id="search" placeholder="First Name" class="firstName-search" type="search" required>
            <i style="right: 0;" class="material-icons">close</i>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="input-field col s12 center">
            <a class="waves-effect waves-light btn add_cus modal-trigger" href="#modal3">Add Customer</a>
        </div>
    </div>
    <div class="row">
        {{> guest-loop }}
    </div>
</div>