<div class="container centered-panel">
  <div class="row">
    <div class="col s4">
      <img src="{{pic}}" alt="Customer image">
    </div>
    <div class="col s8">
      <h2 class="customer_header">{{first_name}} {{last_name}}</h2>
      <ul>
        <li>
          <div style="height: 36px; width: {{ star_width }}; overflow-x: hidden">
            <img src="/assets/stars.png" alt="stars" style="height: 100%;">
          </div>
        </li>
        <li>{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="reviews_header">
        <h2>Reviews</h2>
      </div>
    </div>
  </div>
  {{#each reviews}}
  <div class="row card">
    <div class="col s12 review_column">
      <h4 class="review_title">"{{ title }}"</h4>
      <hr class="upper_hr">
      <p class="review_body">"{{ body }}"<br/>
      - <span class="review_business_name">{{ businessName }}</span></p>
      <hr class="lower_hr">
      <div class="col 8m">
        <p>{{ createdAt }}</p>
      </div>
      <div style="float: right;" class="col 4m">
        <div style="height: 36px; width: {{ star_width }}; overflow-x: hidden">
          <img src="/assets/stars.png" alt="stars" style="height: 100%;">
        </div>
      </div>
      {{#if businessName}}
        <button class="delete_review" data-reviewId="{{id}}">Delete</button>
        <button class="modal-trigger edit_review" href="#modal5" data-reviewId="{{id}}">Edit</button>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>