<div class="container centered-panel">
  <div class="row">
    <div class="col s4">
      <img class="customer_profile_pic" src="{{pic}}" alt="Customer image">
    </div>
    <div class="col s8">
      <h2 class="customer_header">{{first_name}} {{last_name}}</h2>
      <ul>
        <li>
          <div style="height: 36px; width: {{ star_width }}; overflow-x: hidden">
            <img src="/assets/stars.png" alt="stars" style="height: 100%;">
          </div>
        </li>
        <li>{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="reviews_header">
        <h2>Reviews</h2>
      </div>
    </div>
  </div>
  {{#each reviews}}
    {{> render-review }}
  {{/each}}
</div>