<div class="container centered-panel">
  <div class="row">
    <div class="col s4">
      <div class="row">
       <img class="customer_profile_pic" src="{{pic}}" alt="Customer image">
      </div>
      
      <div class="row" style="margin-left: 1.5vw">
        {{#if isClaimed}} 
        <p>Account has been claimed</p>
        {{/if}}
        {{#unless isClaimed}}
       <button href="#modal6" class="claim modal-trigger" id="modal6">Is this you?</button>
        {{/unless}}


      </div>
      
    </div>
    <div class="col s8">
      <h2 class="customer_header">{{first_name}} {{last_name}}</h2>
      <ul>
        <li>
          <div class="stars_average" style="width: {{ star_width }};">
            <img src="/assets/stars.png" alt="stars" style="height: 100%;">
          </div>
        </li>
        <li>{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="reviews_header">
        <h2>Reviews</h2>
      </div>
    </div>
  </div>
  {{#each reviews}}
    {{> render-review }}
  {{/each}}
</div>