<div class="row">
    {{#each guests}}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{pic}}">
                    <span class="card-title">{{first_name}} {{last_name}}</span>
                </div>
                <div class="card-content">
                    <p>{{#if city}}{{city}} {{/if}}{{#if state}}{{state}}{{/if}}</p>
                    <div style="height: 36px; width: {{ star_width }}; overflow-x: hidden">
                        <img src="/assets/stars.png" alt="stars" style="height: 100%;">
                    </div>
                </div>
                <div class="card-action">
                    <a href="/customer-profile/{{ id }}">View Profile</a>
                    <a href="#modal4" data-id="{{id}}" class="modal-trigger customer-review">Review</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>